<div id="characters" style="float: left; width: 500px; margin: 0.5em;">
  <h2>
    Your character deck
  </h2>

  <p id="no_characters_message">
     You have no characters in your deck.
  </p>
  <style> 
    input[type=radio] { width: auto; display: inline; }
    #character-choice-list { list-style: none; padding: 0; }
    #character-sample { display: none }
    #character-choice-list li { background: lightgrey; border: 1px solid black; padding: 0.5em; }
    .character-choice-message { display: none }
  </style>

  <p class="character-choice-message">
    You chose: <span id="character-choice"></span>
  </p>

  <ul id="character-choice-list">
    <li class="game-mode character-choice" id="character-sample">Sample</li>
  </ul>
</div>