/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

main {
  display: flex;
  flex-wrap: wrap-reverse;
}

aside {
  display: flex;
  flex-direction: column;
  flex-shrink: 3;
}

div#main {
  border: 1px solid pink;
  padding: 1em;
  padding-top: 0;
  flex-grow: 3;
}
div#main p {
  width: 100%;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

#chat_messages {
  border: 1px solid lightgrey;
  padding: 8px;
  height: 150px;
  overflow: auto;
}

form#chat_form {
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#chat_form input {
}

#message_input {
  margin-right: 0.5em;
}

#giphy {
  height: 300px;
  overflow: auto;
}